pkgbase = qnap8528-dkms
	pkgdesc = Driver for the embedded controller on QNAP NAS devices (DKMS)
	pkgver = 1.26
	pkgrel = 1
	url = https://github.com/0xGiddi/qnap8528
	arch = any
	license = GPL-2.0-or-later
	depends = dkms
	source = qnap8528-1.26.tar.gz::https://github.com/0xGiddi/qnap8528/archive/refs/tags/v1.26.tar.gz
	sha256sums = f689d1a198525b7bcb9c60cf55cacfb0586c046d2af9e566864b90c720ad1463

pkgname = qnap8528-dkms
